/* bukurogu color theme  */
:root {
  --surface: #0e1415;
  --surface-container: #1b2122;
  --surface-container-high: #252b2c;
  --surface-container-lowest: #090f10;
  --surface-variant: #3f484a;
  --on-surface: #dee3e5;
  --on-surface-variant: #bfc8ca;

  --primary: #82d3e0;
  --on-primary: #00363d;
  --error: #ffb4ab;
  --on-error: #690005;
  --inverse-primary: #006874;

  --outline: #899294;
  --modal-backdrop: #0e141580;

  --on-surface-svg-filter: invert(91%) sepia(4%) saturate(203%)
    hue-rotate(151deg) brightness(99%) contrast(94%);
}

.light-mode {
  --surface: #f5fafb;
  --surface-container: #e9eff0;
  --surface-container-high: #e3e9ea;
  --surface-container-lowest: #ffffff;
  --surface-variant: #dbe4e6;
  --on-surface: #171d1e;
  --on-surface-variant: #3f484a;

  --primary: #006874;
  --on-primary: #ffffff;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --inverse-primary: #82d3e0;

  --outline: #6f797a;
  --modal-backdrop: #0e141580;

  --on-surface-svg-filter: invert(8%) sepia(22%) saturate(430%)
    hue-rotate(141deg) brightness(99%) contrast(93%);
}

/* bukurogu css start here  */
.modal {
  display: none;
}

body {
  background: var(--surface);
  color: var(--on-surface);

  padding: 32px;

  display: flex;
  flex-direction: row;
}

aside {
  margin-right: 24px;
}

aside .divider {
  border-bottom: 1px solid var(--surface-variant);
  margin: 24px 0;
}

.completed-item {
  background-color: var(--surface-container);
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  align-items: end;
}

.completed-item .text-container {
  flex-grow: 1;
}

.completed-item .text-container * {
  margin-bottom: 12px;
  font-weight: 500;
}

.completed-item h1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.4;
}

.completed-item h2 {
  font-size: 14px;
}

#logo {
  padding: 8px;
  width: 280px;
}

#logo h1 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 8px;
}
#logo p {
  font-size: 24px;
}

section {
  flex-grow: 1;
}

header {
  display: flex;
  flex-direction: row;
}

.search-bar {
  background: var(--surface-container-high);
  padding: 4px;
  padding-right: 28px;
  border-radius: 28px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar:hover {
  filter: brightness(110%);
}

.search-bar img {
  filter: var(--on-surface-svg-filter);
  padding: 8px;
}

.search-bar input {
  background: var(--surface-container-high);
  color: var(--on-surface-variant);
  font-size: 16px;
  flex-grow: 1;
}

#search-bar {
  flex-grow: 1;
  margin-right: 16px;
}

.icon-button {
  background: var(--primary);
  height: 48px;
  width: 48px;
  border-radius: 100px;
}

.text-button {
  padding: 10px 24px 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 100px;

  font-weight: 500;
  font-size: 14px;
}

.text-button img {
  margin-right: 8px;
}

#add-button {
  margin-right: 16px;
}
button {
  background: var(--primary);
}
button:hover {
  filter: brightness(90%);
}
button:active {
  filter: brightness(75%);
}
