/* bukurogu color theme  */
:root {
  --surface: #0e1415;
  --surface-container: #1b2122;
  --surface-container-highest: #303637;
  --surface-container-high: #252b2c;
  --surface-container-lowest: #090f10;
  --surface-variant: #3f484a;
  --on-surface: #dee3e5;
  --on-surface-variant: #bfc8ca;

  --primary: #82d3e0;
  --on-primary: #00363d;
  --error: #ffb4ab;
  --on-error: #690005;
  --inverse-primary: #006874;

  --outline: #899294;
  --modal-backdrop: #0e141580;

  --on-surface-svg-filter: invert(91%) sepia(4%) saturate(203%)
    hue-rotate(151deg) brightness(99%) contrast(94%);
  --on-primary-svg-filter: brightness(0) saturate(100%) invert(17%) sepia(17%) saturate(2900%) hue-rotate(143deg) brightness(98%) contrast(104%);
  --on-error-svg-filter: filter: brightness(0) saturate(100%) invert(13%) sepia(37%) saturate(7443%) hue-rotate(339deg) brightness(63%) contrast(122%);
}

.light-mode {
  --surface: #f5fafb;
  --surface-container: #e9eff0;
  --surface-container-highest: #DEE3E5;
  --surface-container-high: #e3e9ea;
  --surface-container-lowest: #ffffff;
  --surface-variant: #dbe4e6;
  --on-surface: #171d1e;
  --on-surface-variant: #3f484a;

  --primary: #006874;
  --on-primary: #ffffff;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --inverse-primary: #82d3e0;

  --outline: #6f797a;
  --modal-backdrop: #0e141580;

  --on-surface-svg-filter: invert(8%) sepia(22%) saturate(430%)
    hue-rotate(141deg) brightness(99%) contrast(93%);
  --on-primary-svg-filter: brightness(0) saturate(100%) invert(100%) sepia(93%)
    saturate(0%) hue-rotate(231deg) brightness(106%) contrast(108%);
  --on-error-svg-filter: brightness(0) saturate(100%) invert(100%) sepia(93%) saturate(0%) hue-rotate(231deg) brightness(106%) contrast(108%);
}

/* bukurogu css start here  */

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px var(--on-surface-variant);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--on-surface);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--on-surface);
}
h1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
}

h2 {
  font-size: 16px;
}
html{
  position: relative;
}

footer{
  height: 48px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  font-weight: 500;
}


.modal {
  
  top: 0;
  left: 0;
  position: absolute;
  /* background: var(--modal-backdrop); */
  height: 100vh;
  width: 100vw;

  display: none;
  justify-content: center;
  align-items: center;
}


.modal > *{

  position: absolute;
}
.modal .backdrop{

  background: var(--modal-backdrop);
  height: 100%;
  width: 100%; 
}

.modal .box{
  z-index: 1;

  background: var(--surface-container-high);

  border-radius: 28px;
  min-height: 200px;
  width: 560px;

  display: flex;
  flex-direction: column;

}

.modal .box .header{
  padding: 32px 32px  16px;
  font-size: 24px;
  font-weight: 500;
}

.modal .box .content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding: 0 32px;
}

.modal .box .content> * {

  margin: 12px 0;
}

.text-field {
  box-sizing: border-box;
  border-radius: 4px;
  background: #ffffff00;
  color: var(--on-surface);
  border: 1px solid var(--outline) !important;
  padding: 4px 16px;

  height: 48px;

  font-size: 16px;
}


.text-field:focus{

  border: 2px solid var(--outline) !important;
}
.text-field::after{
  display: none;
}

.text-field[valid="false"]{
  border: 2px solid var(--error) !important;
}

.modal .checkbox-container{
  padding-top: 8px;
  
  font-size: 16px;

}
.modal .checkbox-container> *{
  margin-left: 16px;

}
.modal .box .footer{
  padding: 0px 32px 24px 32px;
  display: flex;
  flex-direction: row-reverse;
}


.text-button{
  color: var(--primary);
  border-radius: 16px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight:bold;
}

.text-button:hover{
  background: var(--surface-container);
  cursor: pointer;
}


body {
  background: var(--surface);
  color: var(--on-surface);


  overflow-y: hidden;
  
}

main{

  padding: 32px 32px 0 32px;
  display: flex;
  flex-direction: row;

  height: 90vh;
}

aside {
  margin-right: 24px;
  width: 420px;
  display: flex;
  flex-direction: column;
  
}

.aside-title{
  margin-bottom: 8px;
}

aside .divider {
  border-bottom: 1px solid var(--surface-variant);
  margin: 24px 0;
}

aside .completed-container, aside .on-reading-container {
  overflow-y: scroll;
  padding-right: 16px;
  height: 33vh;
}
aside .on-reading-container {
  margin-bottom: 32px;
}

aside .book-empty{
  height: 80px;
}


.completed-item {
  background-color: var(--surface-container);
  padding: 12px;
  margin-top: 16px;
  border-radius: 8px;
  min-width: 160px;

  display: flex;
  flex-direction: row;
  align-items: end;

  position: relative;
}

.completed-item .text-container {
  flex-grow: 1;
}

.completed-item .text-container * {
  margin-bottom: 12px;
  font-weight: 500;
}
.completed-item .button-container {
  width: 112px;
  
  position: absolute;
  right: 0px;
  bottom: 8px;
}



#logo {
  padding: 8px;
}

#logo h1 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 8px;
}
#logo p {
  font-size: 24px;
}

section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

section header {
  display: flex;
  flex-direction: row;

  margin-top: 16px;
}

.search-bar {
  background: var(--surface-container-high);
  padding: 4px;
  padding-right: 28px;
  border-radius: 28px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar:hover {
  filter: brightness(110%);
}

.search-bar img {
  filter: var(--on-surface-svg-filter);
  padding: 8px;
}

.search-bar input {
  background: var(--surface-container-high);
  color: var(--on-surface-variant);
  font-size: 18px;
  flex-grow: 1;
}

#search-bar {
  flex-grow: 1;
  margin-right: 16px;
}

.icon-button {
  background: var(--primary);
  height: 48px;
  width: 48px;
  border-radius: 100px;
}

.icon-button img {
  filter: var(--on-primary-svg-filter);
}

.icon-button[completed="true"]{
  background: var(--inverse-primary);
}
.icon-button[completed="true"] img{
  filter: var(--on-surface-svg-filter);
}

#delete-button{
  background: var(--error);
}


#delete-button img {
  filter: var(--on-error-svg-filter);
}


.button {
  background: var(--primary);
  padding: 10px 24px 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 100px;

  color: var(--on-primary);

  font-weight: 500;
  font-size: 14px;
}

.button img {
  margin-right: 8px;
  filter: var(--on-primary-svg-filter);
}

#add-button {
  margin-right: 16px;
} 
button:hover {
  filter: brightness(90%);

  cursor: pointer;
}
button:active {
  filter: brightness(75%);
}

.book-container{
  flex-grow: 1;
  background: var(--surface-container-lowest);
  margin-top: 48px;
  padding-right: 16px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: repeat(auto-fit, 160px);
  gap: 1rem;

  overflow-y: scroll;
  flex-grow: 1;
}

.book-item{
  background: var(--surface-container);
  border-radius: 8px;
  max-height: 150px;

  padding: 8px;
  position: relative;
}
.book-item .text-container * {
  margin-bottom: 16px;
  font-weight: 500;
}



.book-item .flex-container{

  display: flex;
  flex-direction: row;
}
.book-item .flex-container>img{
  width: 100px;
  height: 150px;
  margin-right: 8px;
}

.book-item .button-container{
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.checkbox-container{
  display: flex;
  flex-direction: row;
}



/* checkbox  */
.checkbox-wrapper-2{
  transform: scale(1.5);
}


.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: var(--surface-container-highest);
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: var(--outline);
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  filter: brightness(80%);
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: var(--primary);
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: var(--on-primary);
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  filter: brightness(80%);
}